Install these packages using pip if you have only a Python 3 pip
or pip3 in case you have both configurations:
python 3.5
python3-tk 3.5
tensorflow 1.0.1
Cython 0.25.2
numpy 1.12.1
runcython3 0.2.5
opencv-python 3.2.0.6
scipy 0.19.0
Pillow 2.6.0
matplotlib 2.0

If you don't want to build manually c dependencies, the make script requires:
pkgconf 0.9.12
python3-pkgconfig 1.1.0
libpython3-dev 3.5

The version number indicates what release has been tested, 
you can use more updated versions of these libs at your risk.