Install these packages using pip if you have only a Python 3 pip
or pip3 in case you have both configurations:
python 3.5
python3-tk 3.5
tensorflow 1.3.0
Cython 0.26.1
numpy 1.13.1
opencv-python 3.3.0.10
scipy 0.19.0
Pillow 4.2.1
matplotlib 2.0.2

If you don't want to build manually c dependencies, the make script requires:
pkgconf 1.2.2
python3-pkgconfig 1.1.0
libpython3-dev 3.5
runcython3 0.2.7

The version number indicates latest release tested,
you can use more updated or older versions of these libs at your risk.
